[Unit]
Description=Visual Studio Code Server for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/code-server
ExecStart=%h/code-server/bin/start
ExecStop=%h/code-server/bin/stop
TimeoutStartSec=0

[Install]
WantedBy=default.target
