[Unit]
Description=Visual Studio Code Server for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/code-server
ExecStart=%h/code-server/bin/start-code-server
ExecStop=%h/code-server/bin/stop-code-server
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
